* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  max-width: 100%;
  min-height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #cea352;
}
header img {
  width: 180px;
  display: block;
}

#loading {
  display: none;
  position: fixed;
  background-color: #cea352;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 29;
}
#loading .cofee-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
}
#loading .cofee-wrapper span {
  background: url(/images/waves-coffee.svg) no-repeat center top;
  width: 100%;
  position: absolute;
  bottom: 32px;
  height: 46px;
  -webkit-animation: cofeeLoad 2s infinite;
          animation: cofeeLoad 2s infinite;
}
@-webkit-keyframes cofeeLoad {
  0% {
    opacity: 0;
    bottom: 25px;
  }
  50% {
    opacity: 1;
    bottom: 47px;
  }
  100% {
    opacity: 0;
    bottom: 55px;
  }
}
@keyframes cofeeLoad {
  0% {
    opacity: 0;
    bottom: 25px;
  }
  50% {
    opacity: 1;
    bottom: 47px;
  }
  100% {
    opacity: 0;
    bottom: 55px;
  }
}
#loading .cofee-wrapper span.left {
  left: -18px;
}
#loading .cofee-wrapper span.middle {
  right: -10px;
}
#loading .cofee-wrapper span.right {
  right: 4px;
}

.flower {
  background: url(/images/flowers-top.png) no-repeat center top;
  background-size: cover;
  display: block;
  position: fixed;
  width: 100%;
  height: 50%;
  transition: all 0.3ms ease-in;
}

.flower.top-left {
  left: 0;
  top: 0;
}

.cafe-freda {
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e3e1d2;
}
@media screen and (min-width: 40rem) {
  .cafe-freda {
    flex-direction: row;
  }
}
.cafe-freda h2 {
  position: relative;
  color: #ffffff;
  font-family: "Alegreya Sans", Helvetica, Arial, sans-serif;
}
@media screen and (min-width: 40rem) {
  .cafe-freda h2 {
    left: 0;
    top: 20vw;
    font-size: 1.389vw;
    transform: rotate(-90deg);
    position: absolute;
    display: block;
  }
}
.cafe-freda .text-content {
  width: 50%;
}
@media screen and (min-width: 40rem) {
  .cafe-freda .text-content {
    display: flex;
    justify-content: center;
    padding: 0 0.694vw;
  }
}
.cafe-freda .text-content .container {
  width: 100%;
}
@media screen and (min-width: 40rem) {
  .cafe-freda .text-content .container {
    width: 38.333%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.cafe-freda .text-content .container h1 {
  font-size: 54px;
  color: #395442;
  text-transform: uppercase;
  font-family: "Alegreya Sans", Helvetica, Arial, sans-serif;
  font-weight: 800;
  line-height: 54px;
  margin-bottom: 2.083vw;
}
.cafe-freda .text-content .container h1 span {
  font-size: 24px;
}
@media screen and (min-width: 40rem) {
  .cafe-freda .text-content .container .left-text {
    padding-left: 3.125vw;
  }
}
.cafe-freda .text-content .container .left-text h3 {
  font-size: 28px;
  color: #ac9377;
  font-family: "Alegreya Sans", Helvetica, Arial, sans-serif;
  margin-bottom: 2vw;
  font-weight: bold;
}
.cafe-freda .text-content .container .left-text p {
  font-weight: 400;
  color: #ac9377;
  font-family: "Alegreya Sans", Helvetica, Arial, sans-serif;
  margin-bottom: 0.903vw;
}
.cafe-freda .gif-section {
  width: 50%;
  background-color: #efece2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cafe-freda .gif-section .vid-gif {
  background: url(/images/food-gif.gif) no-repeat center/cover;
  width: 100%;
  height: 100%;
  max-height: 500px;
}/*# sourceMappingURL=style.css.map */